 /* -------------------------------------- More Project CSS ------------------------------ */


 *{
    padding: 0;
    margin: 0;
  }
  :root{
    --primary-color: #ffff;
    --secondry-color: aliceblue;
    --third-color: #e2e8f0;
    --forth-color: #134e4a;
    --fifth-color: #ffffff32;
    --sixth-color: #3a3a3af4;
  }
  body{
    color: var(--third-color);
  }
  .container-fluid{
    width: 100%;
    height: 100vh;
  }

   /* ------------------ Side scrollbar of website ------------------------- */
   ::-webkit-scrollbar{
    width: 8px;
  }
  ::-webkit-scrollbar-track{
    background-color: #d8b4fe;
  }
  ::-webkit-scrollbar-thumb{
    background-color: var(--sixth-color);
    border-radius: 5px;
  }
  

  .container-fluid h3 a{
    font-size: 2.5em;
    text-decoration: none;
    padding-bottom: 2vh;
    color: var(--primary-color);
    transition: 0.2s;
    text-shadow: 0 0 20px var(--forth-color);
  }
  .container-fluid h3 a:hover{
    letter-spacing: 8px;
  }


  /* -------------------------------------- Certificate ------------------------------ */
#certificate-more{
    background-image: url(image/cert.jpg);
    background-size: 100% 100%;
    text-align: center;
    padding-top: 8vh;
  }
  .certificate-more-container{
    padding-top: 8vh;
  }
  .certificate-more-container .card{
    background-color: #f1efef86;
    transition: 0.3s;
  }
  .certificate-more-container .card:hover{
    background-color: rgb(243, 243, 255);
    margin-top: -1vh;
    
  }
  .certificate-more-container .card img{
    border: 5px solid #73737334;
    border-radius: 10px;
  }
  
  .btn-group .btn{
    margin: 0 15px;
    color: var(--sixth-color);
    font-weight: 700;
    border: 2px solid var(--sixth-color);
    background-color: transparent;
  }
  .btn-group .btn:hover{
    background-color: var(--sixth-color);
    color: var(--primary-color);
    border-color: var(--sixth-color);
  }
  
 /* -------------------------------------- Media Query certificate tab ------------------------------ */

 #certificate-more{
    width: 100%;
    height: 100%;
  }
   
  .certificate-more-container{
    padding-bottom: 5vh;
  }

  /* -------------------------------------- Media Query certificate phone ------------------------------ */

 #certificate-more{
    width: 100%;
    height: 100%;
  }
  .certificate-more-container{
    padding-bottom: 5vh;
  }
  
  
  